/* header */
.header_wrap {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: #E0BFE6;
}
.header_tit {
  margin: 0 auto;
  width: 100%;
}
.header_tit h1 {
  z-index: 10;
  font-family: 'Alfa Slab One', cursive;
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header_tit span {
  display: block;
  text-shadow: 2px 2px 10px #804da1;
  line-height: 150px;
}
.t-purple {
  color: #692498 !important;
}
.t-white {
  color: #FFF !important;
}
.cloud_1 img {
  position: absolute;
  transform: translate(5%, 8%);
  width: 800px;
}
.cloud_2 img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 800px;
}