.section_inner_txtbox .location.mb30{
	margin-bottom: 30px !important;
}
.mb15{
  margin-bottom: 15px !important;
}
.mb5{
  margin-bottom: 5px !important; 
}
.ml-5{
  margin-left: 5%;
}
.fl{
  float: left;
}
.fr {
  float: right;
}
.section{
  position: relative;
  height: 100vh;
}
.slick-dots{
  bottom: 30px !important;
}
.slick-dotted.slick-slider{
  margin-bottom: 0 !important;
}
.toggle-button .menu-bar{
  background: #fff;
}
.bb-fff{
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
body *{
  word-break: keep-all;
}
input[type=checkbox] {
  margin-right: 5px;
}
.select_wrap select {
  -webkit-appearance: none; /* for chrome */
  appearance: none; /* for firefox */
  box-sizing: border-box;
}
.select_wrap select::-ms-expand{
  display:none;/* for IE10,11 */
}
.select_group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
  max-width: 314px;
}
.select_wrap {
  cursor: pointer;
  background:#ededee url('../img/arrow_down.png') no-repeat 95% 55%/14px auto;
}
.interest_check{
  margin-right: 5px;
  display: inline-block;
  width: 120px;
  font-size: 12px;
}

.mainPageLogo {
  display: none;
  width: 300px;
  height: 40px;
}
.subPageLogo {
  width: 300px;
  height: 40px;
}
.slick-dots li button:before, .slick-dots li.slick-active button:before{
  color: #fff;
}
.slick-dots li.slick-active button:before{
  opacity: 1;
} 
.slick-dots > li{
  display: none;
  color: #fff;
}
.slick-dots > li.slick-active{
  display: inline-block;
}
.con-wrap{
  overflow: hidden;
}
.con-p{
  font-size: 16px;
  margin-bottom: 5px;
}
.content-wrap{
  width: 100%;
  height: auto;
  position: relative;
}
.section_inner_content{
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  height: calc(100vh - 120px);
  cursor: url('../img/plus.png'),url('../img/plus.png'),pointer;
  z-index: 2;
}
.section_inner_content-n{
  position: absolute;
  top: 120px;
  left: 0;
}
.section_inner_content.on{
  cursor: url('../img/minus.png'),url('../img/minus.png'),pointer;
}
.section_inner_content .bg{
  width: 100%;
  height: calc(100% + 120px);
  position: absolute;
  top: -120px;
  left: 0;
  background: rgba(0,0,0,0);
  transition: all 0.3s;
  z-index: 0;
}
.section_inner_content.on .bg{
  background: rgba(0,0,0,0.7);
}
.section_inner_content-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0);
  transition: all 0.3s;
  z-index: 0;
}
.section_inner_content-bg.on{
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

.section_inner_content .section_inner_txt_wrap{
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.section_inner_content.on .section_inner_txt_wrap{
  opacity: 1;
}

.section_inner_tit{
  position: absolute;
  top: 0px;
  left: 120px;
  width: 100%;
  height: auto;
  z-index: 1;
}
.section_inner_tit h1{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.section_inner_txt{
  position: absolute;
  width: 100%;
  z-index: 1;
}
.section_inner_txt01{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  margin-top: -60px;
  max-width: 600px;
  width: 100%;
}
.section_inner_txt02{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  margin-top: -60px;
  max-width: 800px;
  width: 100%;
  padding: 0 15px;
}

.section_inner_txtbox p{
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
}
.mo-div{
  display: none;
}


.pc-con-stat, .mo-con-stat{
  width: 100%;
  height: auto;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.mo-con-stat{
  display: none;
}
.pc-con-stat tr td{
  font-size: 14px;
  text-align: center;
  width: 9.09%;
  padding: 10px 0;
  color: #fff;
  border-right: 1px solid #fff;
}
.pc-con-stat tr, .mo-con-stat tr{
  border-top: 1px solid #fff;
}
.mo-con-stat tr td{
  font-size: 12px;
  text-align: center;
  width: 33.33%;
  padding: 3px 0;
  color: #fff;
  border-right: 1px solid #fff;
}
.txt_toggle{
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 99999;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
}
.txt_toggle p{
  max-width: 200px;
  width: 100%;
  height: auto;
  padding: 7px 0;
  text-align: center;
  font-size: 16px;
  border: 1px solid #fff;
  color: #fff;

}

.slide-navi-finger{
  display: none;
}
@media(max-width:1200px){
  .txt_toggle{
    bottom: 60px;
    left: 30px;
  }
}
@media(max-width:1024px){
  /* .slide-navi-finger{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: 15px;
    z-index: 99;
    animation: handSwipeAnimate 1.5s infinite ease-in-out;
    -webkit-animation : handSwipeAnimate 1.5s infinite ease-in-out;
  } */

  .slide-navi-finger{
    width: 40px;
    height: 24px;
    display: block;
    position: fixed;
    left: calc(50% + 5px);
    bottom: 15px;
    transform: translateX(-50%);
    z-index: 999;
  }

  .slide-navi-finger a {
    width: 40px;
    height: 24px;
    display: block;
  }
  .slide-navi-finger a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  .slide-navi-finger a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .slide-navi-finger a span:nth-of-type(2) {
    top: 0;
    left: 12px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  .slide-navi-finger a span:nth-of-type(3) {
    top: 0;
    left: 24px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* @-webkit-keyframes handSwipeAnimate{
    0%{
      opacity: 0;
      -webkit-transform:rotateZ(0);
      transform:rotateZ(0);
    }
    25%{
      opacity: 1;
      -webkit-transform:rotateZ(0);
      transform:rotateZ(0);
    }
  
    75%{opacity: 1;
      -webkit-transform:rotateZ(-30deg);
      transform:rotateZ(-30deg);
    }
    100%{
      opacity: 0;
      -webkit-transform:rotateZ(-30deg);
      transform:rotateZ(-30deg);
    }
  }
  @keyframes handSwipeAnimate{
    0%{
      opacity: 0;
      -webkit-transform:rotateZ(0);
      transform:rotateZ(0);
    }
    25%{
      opacity: 1;
      -webkit-transform:rotateZ(0);
      transform:rotateZ(0);
    }
  
    75%{opacity: 1;
      -webkit-transform:rotateZ(-30deg);
      transform:rotateZ(-30deg);
    }
    100%{
      opacity: 0;
      -webkit-transform:rotateZ(-30deg);
      transform:rotateZ(-30deg);
    }
  } */
}
@media(max-width:540px){
  .mo-con-stat{
    display: table;
  }
  .pc-con-stat{
    display: none;
  }
  .slick-dots{
    bottom: 15px !important;
  }
  
}
/* ==================natural-modern================== */

.modern-section01{
  background: url(../img/contents/modern-s1-img01.jpg);
}
.modern-section02{
  background: url(../img/contents/modern-s1-img02.jpg);
}
.modern-section03{
  background: url(../img/contents/modern-s1-img03.jpg);
}
.modern-section04{
  background: url(../img/contents/modern-s1-img04.jpg);
}
.modern-section05{
  background: url(../img/contents/modern-s1-img05.jpg);
}

.interior-section01{
  background: url(../img/contents/interior01.jpg);
}
.interior-section02{
  background: url(../img/contents/mo-interiorbg02.jpg);
}
.interior-section03{
  background: url(../img/contents/mo-interiorbg03.jpg);
}
.interior-section04{
  background: url(../img/contents/mo-interiorbg04.jpg);
}
.interior-section05{
  background: url(../img/contents/interior05.jpg);
}
.interior-section06{
  background: url(../img/contents/interior06.jpg);
}
.interior-section07{
  background: url(../img/contents/interior07.jpg);
}
.interior-section08{
  background: url(../img/contents/interior08.jpg);
  /* background: #8c734b; */
}

.section_inner_txtbox .con-subtit{
  font-size: 24px;
}
.interior-tit-list *{
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
}
.con-list-box {
  width: 45%;
}
.con-list-box.wd-100 {
  width: 100%;
}
.con-list-box *{
  color: #fff;
}
.con-list-box li{
  font-size: 16px;
  margin-bottom: 5px;
  list-style-type: disc;
}
.interior-mo-img{
  display: none;
}
.interior-img{
  display: none;
  position: absolute;
  top: calc(50% + 30px);
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
  z-index: 0;
  text-align: center;
}
.interior-img.iso-interior{
  display: block;
}
.interior-img img{
  margin: 0 auto;
  max-height: calc(100vh - 200px);
  max-width: calc(100% - 30px);
}
.interior-18type-list > li{
  float: left;
  width: 33.333%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #fff;
}
.interior-18type-list > li b{
  font-size: 24px;
  display: block;
  margin-bottom: 15px;
}
.interior-18type-list .interior-18type-sublist li{
  display: block;
  font-size: 16px;
  color: #fff;
}
.interior-18type-list .interior-18type-sublist li:nth-child(2){
  margin-bottom: 10px;
}


@media(max-width:1200px){
  .interior-section01{
    background: url(../img/contents/mo-interiorbg01.jpg);
  }
  .interior-section02{
    background: url(../img/contents/mo-interiorbg02.jpg);
  }
  .interior-section03{
    background: url(../img/contents/mo-interiorbg03.jpg);
  }
  .interior-section04{
    background: url(../img/contents/mo-interiorbg04.jpg);
  }
  .interior-section05{
    background: url(../img/contents/mo-interiorbg05.jpg);
  }
  .interior-section06{
    background: url(../img/contents/mo-interiorbg06.jpg);
  }
  .interior-section07{
    background: url(../img/contents/mo-interiorbg07.jpg);
  }
  .interior-img{
    display: block;
  }
}

@media(max-width:540px){
  .con-list-box li{
    font-size: 14px;
  }
  .con-list-box.fr{
    margin-left: 5%;
  }

  .interior-18type-list > li{
    float: initial;
    clear: both;
    width: 100%;
    padding: 0;
    padding-bottom: 15px;
  }

  .interior-18type-list > li b{
    margin-bottom: 6px;
  }
  .interior-18type-list .interior-18type-sublist li:nth-child(2){
    margin-bottom: 3px;
  }
  .interest_check{
    display: block;
    width: 100%;
  }
}

/* ==================natural-modern================== */



/* ==================program================== */

.pg-section01{
  background: url(../img/contents/pg-img01.jpg);
}
.pg-section02{
  background: url(../img/contents/pg-img02.jpg);
}
.pg-section03{
  background: url(../img/contents/pg-img03.jpg);
}


/* ==================program================== */



/* ==================Dining================== */

.dining-section01{
  background: url(../img/contents/dining-img01.jpg);
}
.dining-section02{
  background: url(../img/contents/dining-img02.jpg);
}
.dining-section03{
  background: url(../img/contents/dining-img03.jpg);
}
.dining-section04{
  background: url(../img/contents/dining-img04.jpg);
}
.dining-section05{
  background: url(../img/contents/dining-img05.jpg);
}
.dining-section06{
  background: url(../img/contents/dining-img06.jpg);
}



/* ==================Dining================== */


/* test */

.test-section01{
  background: url(../img/contents/test1.jpg);
}
.test-section02{
  background: url(../img/contents/test2.jpg);
}
.test-section03{
  background: url(../img/contents/test3.jpg);
}
.test-section04{
  background: url(../img/contents/test4.jpg);
}


/* tset */

/* ==================Amenity================== */

.amenity-section01{
  background: url(../img/contents/amenity-img01.jpg);
}
.amenity-section02{
  background: url(../img/contents/amenity-img02.jpg);
}
.amenity-section03{
  background: url(../img/contents/amenity-img03.jpg);
}
.amenity-section04{
  background: url(../img/contents/amenity-img04.jpg);
}
.amenity-section05{
  background: url(../img/contents/amenity-img05.jpg);
}
.amenity-section06{
  background: url(../img/contents/amenity-img06.jpg);
}
.amenity-section07{
  background: url(../img/contents/amenity-img07.jpg);
}

.amenity-section08{
  background: url(../img/contents/amenity-img08.jpg);
}

@media(max-width:1200px){
  .amenity-section03{
    background: url(../img/contents/t-amenity-img03.jpg);
  }
  .amenity-section08{
    background: url(../img/contents/t-amenity-img08.jpg);
  }
}
@media(max-width:540px){
  .amenity-section03{
    background: url(../img/contents/m-amenity-img03.jpg);
  }
  .amenity-section08{
    background: url(../img/contents/m-amenity-img08.jpg);
  }
}

/* ==================Amenity================== */


/* ==================Amenity================== */

.concierage-section01{
  background: url(../img/contents/concierage-img01.jpg);
}
.concierage-section02{
  background: url(../img/contents/concierage-img02.jpg);
}
.concierage-section03{
  background: url(../img/contents/concierage-img03.jpg);
}
.concierage-section04{
  background: url(../img/contents/concierage-img04.jpg);
}
.concierage-section05{
  background: url(../img/contents/concierage-img05.jpg);
}

@media(max-width:1024px){
  .concierage-section01{
    background: url(../img/contents/t-concierage-img01.jpg);
  }
  .concierage-section05{
    background: url(../img/contents/t-concierage-img05.jpg);
  }
}
@media(max-width:540px){
  .concierage-section01{
    background: url(../img/contents/m-concierage-img01.jpg);
  }
  .concierage-section05{
    background: url(../img/contents/m-concierage-img05.jpg);
  }
}

/* ==================Amenity================== */



/* ==================Time-table================== */

.time-table-sec{
  width: 100%;
  height: auto;
  background: url(../img/contents/time-table-img01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.time-table-stat{
  margin-top: 25%;
  margin-bottom: 50px;
  width: 100%;
  height: auto;
  border: 1px solid #fff;
  border-bottom: none;
}
.time-table-stat tr .num{
  width: 5%;
}
.time-table-stat tr .time{
  width: 25%;
}
.time-table-stat tr .contents{
  width: 70%;
}
.time-table-stat tr th, .time-table-stat tr td{
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding: 15px 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.time-table-stat tr th:last-child, .time-table-stat tr td:last-child{
  border-right: none;
}

.time-table-stat tr:first-child th{
  font-weight: bold;
}

.d-section_inner_tit{
  position: absolute;
  top: 120px;
  left: 120px;
  width: 100%;
  height: auto;
  z-index: 1;
}
.d-section_inner_tit h1{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

/* ==================Time-table================== */


/* ==================System================== */

.system-section01{
  background: url(../img/contents/sc-img01.jpg);
}
.system-section02{
  background: url(../img/contents/sc-img02.jpg);
}
.system-section03{
  background: url(../img/contents/sc-img03.jpg);
}
.system-section04{
  background: url(../img/contents/sc-img04.jpg);
}
.section_inner_txtbox02 *{
  color: #fff;
}
.section_inner_txtbox02 h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.system-inner-stat li h3{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}
.system-inner-stat li p{
  font-size: 16px;
  font-weight: 400;
}

@media(min-width:1025px){
  .system-inner-stat{
    display: table;
    width: 100%;
    height: auto;
  }
  .system-inner-stat li{
    display: table-cell;
    width: 50%;
    position: relative;
    padding: 20px 5px;
    text-align: center;
  }
  .system-inner-stat li::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: calc(100% - 20px);
    height: 1px;
    background: #fff;
  }
  .d-section_inner_tit > span{
    display: none;
  }
}

/* ==================System================== */


/* ==================Facility================== */

.fac-section01{
  background: url(../img/contents/fac-img01.jpg);
}
.fac-section02{
  background: url(../img/contents/fac-img02.jpg);
}
.fac-section03{
  background: url(../img/contents/fac-img03.jpg);
}
.fac-section04{
  background: url(../img/contents/fac-img04.jpg);
}
.fac-section05{
  background: url(../img/contents/fac-img05.jpg);
}
.fac-section06{
  background: url(../img/contents/fac-img06.jpg);
}

/* ==================Facility================== */

/* ==================Activity================== */

.act-section01{
  background: url(../img/contents/act-img01.jpg);
}
.act-section02{
  background: url(../img/contents/act-img02.jpg);
}


/* ==================Activity================== */

/* ==================Course================== */

.club-section01{
  background: url(../img/contents/club-img01.jpg);
}
.club-section02{
  background: url(../img/contents/club-img02.jpg);
}
.club-section03{
  background: url(../img/contents/club-img03.jpg);
}
.club-section04{
  background: url(../img/contents/club-img04.jpg);
}
.club-section05{
  background: url(../img/contents/club-img05.jpg);
}
.club-section06{
  background: url(../img/contents/club-img06.jpg);
}
.club-section07{
  background: url(../img/contents/club-img07.jpg);
}
.club-section08{
  background: url(../img/contents/club-img08.jpg);
}
.club-section09{
  background: url(../img/contents/club-img09.jpg);
}
.club-section10{
  background: url(../img/contents/club-img10.jpg);
}

@media(max-width:1024px){

  .club-section01{
    background: url(../img/contents/t-club-img01.jpg);
  }
}

@media(max-width:540px){

  .club-section01{
    background: url(../img/contents/m-club-img01.jpg);
  }
}
 
/* ==================Course================== */

/* ==================Rooftop================== */

.roof-section01{
  background: url(../img/contents/roof-img01.jpg);
}
.roof-section02{
  background: url(../img/contents/roof-img02.jpg);
}
.roof-section03{
  background: url(../img/contents/roof-img03.jpg);
}


/* ==================Rooftop================== */


/* ==================Inqurity================== */


.inquiry-sec{
  width: 100%;
  height: auto;
  background: url(../img/contents/inquiry-img01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 120px;
  padding-bottom: 100px;
}
.reg_stat{
  width: 100%;
  height: auto;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    4px 4px 15px 0px rgba(50, 50, 50, 0.4);
  box-shadow:         4px 4px 15px 0px rgba(50, 50, 50, 0.4);
}
 
.reg_stat .reg_leftBg{
  background-color:#494949;
  position: relative;
}
.reg_form_leftTit{
  position: absolute;
  top: 70px;
  left: 70px;
  width: 320px;
}
.reg_form_leftTit h1{
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 20px;
}
.reg_form_leftTit span{
  font-size: 16px;
  color: #fff;
  margin: 4px 0;
}
.reg_form_rightTit{
  margin-bottom: 18px;
  padding-top: 70px;
}
.reg_form_rightTit h3{
  font-size: 50px;
  font-weight: bold;
  color: #4c4948;
}
.reg_formWrap{
  padding-left: 50px;
  padding-right: 50px;
  background: #fff;

}
.register_line{
  margin-bottom: 17px;
}
.register_line_first{
  padding-top: 30px;
}
.register_line_last{
  padding-bottom: 30px;
}
.register_line > li{
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}
.register_subtit{
  width: 20%;
  /* padding-right: 20px; */
}
.register_subtit p{
  font-size: 15.5px;
  font-weight: 900;
}
.radio_group {
  display: inline-block;
}
.justify {
  max-width: 500px;
  text-align: justify;
}
.justify::after{
    content: "";
    display: inline-block;
    width: 100%;
  }
.register_input{
  width: 70%;
}
.name_input{
  background: #ededee;
  max-width: 192px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 4px 6px;
}
.e_input{
  background: #ededee;
  max-width: 314px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 6px 12px;
}
.select_wrap .e_input{
  background: none;
}
.register_agr{
  margin-top: 30px;
}
.reg_agrWrap{
  padding: 25px 0;
  border-top: 1px solid #090909;
  border-bottom: 1px solid #090909;
}
.reg_agrWrap > article{
  font-size: 13px;
  color: #4c4948;
  font-weight: 400;
}
.reg_agrWrap > article b{
  font-size: 15px;
  font-weight: 600;
}

.register_agrBtn_tit, .register_agr_tit{
  font-size: 18px;
  font-weight: bold;
  color: #494949;
}
.register_agrBtn_tit li:first-child{
  float: left;
}
.register_agrBtn_tit li:last-child{
  float: right;
}
.register_agrBtn_tit li:last-child input{
  width: 15px;
  height: 15px;
  position: relative;
  top: -2px;
}
.register_agrBtn_tit li:last-child label{
  font-size: 15px;
}
.reg_agr_label{
  margin-right: 30px;
}
.submit_btn{
  text-align: right;
}
.submitBtn{
  padding: 12.5px 0;
  display: inline-block;
  max-width: 230px;
  width: 100%;
  height: auto;
  font-size: 20px;
  color: #fff;
  background: #494949;
  border: none;
  outline: none;
  margin-bottom: 90px;
}
.register_agrBtn{
  padding: 30px 0 50px;
}

@media(min-width:1025px){
  .reg_stat{
    display: table;
  }
  .reg_stat > li{
    display: table-cell;
    vertical-align: top;
  }
  .reg_stat li.reg_leftBg{
    width: 35%;
  }
  .reg_stat li.reg_right{
    width: 65%;
  }
  .reg_topBg{
    display: none;
  }
  .reg_form_topTit{
    display: none;
  }
}
@media(max-width:1024px){
  .reg_topBg{
    display: block;
    width: 100%;
    background-color: white;
  }
  .reg_form_topTit{
    display: block;
    position: relative;
    padding: 34px 15px 27px 15px;
  }
  .reg_form_topTit::after{
    content: "";
    display: block;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #292929;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  .reg_form_topTit h1{
    font-weight: bolder;
    font-size: 28px;
    padding-bottom: 18px;
  }
  .reg_form_topTit h1 > span{
    color: #ffa65e;
  }
  .reg_formWrap{
    padding: 0 15px;
  }
  .reg_form_rightTit{
    padding-top: 30px;
  }
  .reg_form_rightTit h3 {
    font-size: 40px;
  }
  .submitBtn{
    margin-bottom: 30px;
  }
  .reg_stat .reg_leftBg{
    display: none;
  }
  .reg_form_leftTit{
    display: none;
  }

  .register_s1Bg{
    height: 300px;
  }
  .register_agrBtn_tit li:first-child{
    clear: both;
    float: inherit;
  }
  .register_agrBtn_tit li:last-child{
    clear: both;
    float: inherit;
    margin-bottom: 5px;
  }

  .register_line > li{
    display: block;
    margin-left: 0;
  }
  .register_subtit{
    width: 100%;
    padding-right: 0;
    margin-bottom: 4px;
  }
  .justify {
    max-width: 500px;
    text-align: left;
  }
  .register_input{
    width: 100%;
  }
  .justify::after{
    display: none;
  }
  /* .register_s1{
    padding-top: 70px;
    padding-bottom: 70px;
  } */
  .reg_stat{
    margin-top: 40px;
  }
  /* .reg_stat{
    transform: translateY(70px);
  } */
  .evr_pc_img{
    display: none;
  }
  .evr_mo_img{
    display: block;
  }
  .register_line_first{
    padding-top: 0;
  }
  .con-wrap{
    overflow: hidden;
  }
  .section_inner_txtbox p.con-p{
    font-size:16px;
    margin-top: 10px;
  }
  .submit_btn {
    text-align: center;
  }
}

/* register */

/* ==================Inqurity================== */


/* plot plan */


.plot-sec{
  width: 100%;
  min-height: 100vh;
  /* background: url(../img/contents/plot-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
   */
  background: #8c734b;
  padding-top: 120px;
  padding-bottom: 100px;
}

.plot-mo-img{
  display: none !important;
}
.plot-container{
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.mo-plot-slider .plot-imgbox{
  position: relative;
  padding-bottom: 35px;
}
.mo-plot-slider .plot-imgbox img{
  /* max-height: calc(50vh - 150px); */
  /* max-height: 550px; */
}
.mo-plot-slider .plot-imgbox a{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: rgba(0,0,0,0.4);
  text-align: center;
}
.mo-plot-slider .plot-imgbox a:active, .mo-plot-slider .plot-imgbox a:focus{
  border: none;
  outline: none;
}
.mo-plot-slider .plot-imgbox a p{
  font-size: 16px;
  color: #fff;
}
.mo-plot-slider .plot-imgbox{
  text-align: center;
}
.mo-plot-slider .plot-imgbox:first-child{
}
.mo-plot-slider{
  display: none !important;
}
@media(max-width:1200px){
  .mo-plot-slider{
    display: block !important;
  }
  .pc-plot-slider{
    display: none !important;
  }
}
@media(max-width:767px){
  .mo-plot-slider .plot-imgbox img{
  }
}

/* ==================Location================== */

.location-sec{
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
  background: url(../img/contents/location-img01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.section_inner_txtbox .location *{
  color: #fff;
}
.section_inner_txtbox .location > ul > li{
  margin-bottom: 30px;
  font-size: 16px;

}
.section_inner_txtbox .location > ul> li h3{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.place-location{
  position: relative;
  /* padding-left: 130px; */
  margin-left: 15px;
}
.location li .info-p{
  margin-left: 15px;
}
.section_inner_txtbox .location > ul> li li{
  margin-bottom: 10px;
}
.section_inner_txtbox .location li .place{
  position: absolute;
  top: 0;
  left: 0;
}
.dining-day b{
  display: block;
  margin-bottom: 10px;
}
.dining-day span{
  display: block;
}

@media(max-width:1024px){
  .section_inner_txtbox .location li{
    margin-bottom: 15px;
    font-size: 16px;
    margin-right: 15px;
  }
  .section_inner_txtbox .location > ul> li li{
    font-size: 24px;
  }
  .section_inner_txtbox .location li h3{
    font-size: 30px;
  }
  .section_inner_txtbox .location > ul> li h3{
    font-size: 30px;
  }
  .place-location{
    /* padding-left: 100px; */
    margin-left: 5px;
  }
  .location li .info-p{
    margin-left: 5px;
  }
  .location_inner_txt{
    top: 30px;
  }
}

@media(max-width:500px){
  /* .section_inner_txtbox .location{
    height: calc(100vh - 150px);
    overflow-y: scroll;
    padding-bottom: 50px;
  } */

  .section_inner_txtbox .location > ul> li li{
    font-size: 16px;
  }
  .section_inner_txtbox .location li h3{
    font-size: 24px;
  }
  .section_inner_txtbox .location > ul> li h3{
    font-size: 24px;
  }
  .section_inner_txtbox .location > ul > li{
    margin-bottom: 20px;
  }
}
/* ==================Location================== */

.section{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


@media(max-width:1024px){
  .toggle-button .menu-bar{
    background: #000;
  }
  .section{
    height: calc(var(--vh, 1vh) * 100);
  }
  .section_inner_content{
    z-index: 0;
  }
  .section_inner_content.on{
    z-index: 3;
  }
  .mo-div{
    display: block;
  }
  .section_inner_content-n, .section_inner_content{
    top: 90px;
  }
  .section_inner_content .section_inner_txt_wrap{
    height: calc(100% - 20px);
    overflow-y: auto;
  }
  .mo-click-btn{
    cursor: pointer;
    position: fixed;
    /* left: 2%;
    bottom: 5%; */
    top: 94px;
    right: 15px;
    /* width: 34px; */
    /* height: 34px; */
    /* border-radius: 100%; */
    /* background: rgba(0,0,0,0.5); */
    max-width: 150px;
    width: 100%;
    height: auto;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #fff;
    background: #fff;
    z-index: 9999;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.2);
  }
  .mo-click-btn.on{
    background: none;
    border: 1px solid #fff;
  }
  .mo-click-btn.on p{
    color: #fff;
  }
  .mo-click-btn p{
    font-size: 14px;
    color: #000;
  }
  .mo-click-btn-n{
    position: absolute;
  }
  .mo-click-btn .click-line{
    position: absolute;
    height: 2px;
    width: 34px;
    background: #fff;
    left: 0;
    transform-origin: center;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    pointer-events: none;
    transition: all 0.3s;
  }
  .mo-click-btn .click-top{
    top: 15px;
  }
  .mo-click-btn .click-bottom{
    top: 15px;
    transform: rotate(90deg);
  }
  .mo-click-btn.on .click-top{
    transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
  }
  .mo-click-btn.on .click-bottom{
    transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
  }
 
  .section_inner_tit{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    max-width: 1024px;
  }
  .section_inner_tit h1{
    font-size: 36px;
    padding-left: 15px;
  }
  .section_inner_txt01, .section_inner_txt02{
    max-width: 1024px;
    top: 110px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .section_inner_txt02{
    left: initial;
    transform: initial;
    -webkit-transform: initial;
  }
  .section_inner_txtbox p{
    font-size: 24px;
  }
  .section_inner_txt01 br{
    display: none;
  }
  .section_inner_txt01{
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  /* ==================System================== */

  .section_inner_txtbox02 h1{
    text-align: left;
  }

  .section_inner_txtbox02 h1{
    font-size: 18px;
    font-weight: bold;
  }

  .system-inner-stat li{
    padding: 7.5px 5px;
  }
  .system-inner-stat:first-child li:nth-child(2){
    padding-top: 0;
  }
  .system-inner-stat:last-child li:last-child{
    padding-bottom: 0;
  }
  .system-inner-stat li h3{
    font-size: 16px;
    margin-bottom: 3px;
  }
  .system-inner-stat li p{
    font-size: 14px;
    font-weight: 400;
  }

/* ==================System================== */

.d-section_inner_tit{
  top: 90px;
  max-width: 750px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin-left: 15px;
}

}
@media(max-width:767px){
  .section_inner_txtbox p{
    font-size: 14px;
  }
  .mb30{
    margin-bottom: 15px !important;
  }

  .section_inner_tit h1{
    font-size: 30px;
  }
  .section_inner_txt01{
    top: 120px;
  }
  .section_inner_txtbox p{
    font-size: 16px;
  }
  .con-list-box {
    width: 100%;
    float: none;
  }
  .e_input, .select_group {
    max-width: 100%;
  }
  /* ==================Time-table================== */
  .time-table-stat{
    margin-top: 180px;
  }
  .time-table-stat tr .num{
    display: none;
  }
  .time-table-stat tr th, .time-table-stat tr td{
    font-size: 14px;
    padding: 10px 0;
  }

  .d-section_inner_tit{
    top: 120px;
    left: 15px;
    max-width: auto;
    transform: initial;
    -webkit-transform: initial;
    margin-left: 0;
  }
  .d-section_inner_tit h1{
    font-size: 24px;
  }
  .d-section_inner_tit span{
    color: white;
  }
  .time-table-stat tr .contents{
    padding: 10px 5px;
  }

/* ==================Time-table================== */

}

/* Brand Story */
.brand-sec-01 {
  width: 100%;
  height: 1345px;
  background: #f4eae1;
  padding-top: 120px;
  padding-bottom: 0px;
}
.brand-sec-02 {
  width: 100%;
  height: auto;
  background: url("../img/brandstory_BgImg.jpg") no-repeat 50% 55% / cover;
}
.brand-header {
  margin: 0 auto;
  padding-top: 60px;
}
.brand-header h1 {
  font-size: 46px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 140%;
}
.brand-logo {
  width: 644px;
  margin: 0 auto;
  margin-block: 10px;
}
.brand-info-01 {
  background-color: #fff;
  width: 71%;
  margin: 0 auto;
  padding-inline: 24px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.brand-info {
  width: 32%;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  height: 320px;
}
.b-right {
  border-right: solid 1px #b0b0b0;
  display: inline-block;
  height: 250px;
  position: relative;
  bottom: 65px;
}
.brand-info h2 {
  font-size: 52px;
  font-weight: bold;
}
.info-bar {
  height: 8px;
  margin-block: 24px;
  margin-right: 16px;
}
.brand-info-tit {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 40px;
}
.brand-info ul {
  text-align: left;
  padding: 0px 52px;
  margin: 0;
  font-size: 23px;
  line-height: 36px;
  letter-spacing: -0.69px;
  font-weight: bold;
}
ul.dashed > li {
  text-indent: -28px;
  margin-bottom: 20px;
}
ul.dashed > li:before {
  content: "-";
  margin-right: 16px;
}
.brand-info-02 {
  background-color: #f46500;
  width: 71%;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}
.brand-info-02 h2 {
  color: #fff !important;
  text-align: center;
  font-size: 32px;
  padding-block: 66px;
  line-height: 150%;
}
.brand-info-03 {
  background-color: #fff !important;
  width: 71%;
  margin: 0 auto;
  padding-inline: 30px;
  position: relative;
  top: 270px;
  opacity: 0.95;
  padding-top: 90px;
}
.brand-info-next {
  width: 49%;
  padding-bottom: 90px;
  display: inline-grid;
  padding-left: 60px;
}
.brand-info-next h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 28px;
  letter-spacing: -0.63px;
}
.brand-info-next span {
  position: relative;
  line-height: 22px;
  font-size: 21px;
  display: inline-block;
  letter-spacing: -0.63px;
  line-height: 160%;
  border-left: 2px solid #D9D9D9;
  padding-left: 30px;
  font-weight: bold;
}
.brand-info-next .b-right {
  color: #D9D9D9;
  height: 119px;
  display: inline-block;
  bottom: 0px;
  border-right: solid 2px #b0b0b0;
}
.brand-info-04 {
  width: 71%;
  margin: 0 auto;
  position: relative;
  height: auto;
  margin-top: 700px;
  padding-bottom: 100px;
}
.brand-info-04 h2 {
  color: #fff !important;
  font-size: 60px;
  margin-bottom: 76px;
}
.brand-info-footer {
  width: 49%;
  display: inline-grid;
}
.brand-info-footer span {
  font-size: 26px;
  color: #fff;
  margin-bottom: 60px;
  line-height: 170%;
}
.f-yellow {
  color: #fff5bc !important;
}
.f-orange {
  color: #f06500 !important;
}
br.break-t {
	display: none;
}

@media(max-width:425px) {
  br.break-s {
    display: none;
  }
  br.break-m {
    display: none;
  }
  br.break-t {
    display: none;
  }
  br.break-m {
    display: none;
  }
  br.break-t {
    display: inline;
  }
  .brand-logo {
    width: 70%;
  }
  .brand-header h1 {
    font-size: 26px;
  }
  .brand-sec-01 {
    height: auto;
  }
  .brand-sec-02 {
    background: url("../img/brandstory_BgImg_m.jpg") no-repeat 50% 30%/cover;
    height: auto;
  }
  .brand-header {
    padding-top: 0px;
  }
  .brand-info h2 {
    font-size: 40px;
  }
  .brand-info ul {
    padding: 0px 35px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.54px;
    padding-right: 0;
    padding-bottom: 32px;
  }
  ul.dashed > li {
    margin-bottom: 16px;
  }
  .info-bar {
    height: 6px;
    margin-block: 16px;
  }
  .brand-info-01, .brand-info-02, .brand-info-next {
    width: 100%;
  }
  .brand-info-01 {
    padding-top: 50px;
  }
  .brand-info-02 {
    position: inherit;
    padding: 0px 35px;
  }
  .brand-info-02 h2 {
    font-size: 20px;
  }
  .brand-info {
    width: 100%;
    height: auto;
    text-align: left;
    padding-top: 32px;
  }
  .brand-info-tit {
    padding: 0px 10px;
    margin-bottom: 20px;
  }
  .brand-info-01 .b-right {
    height: 1px;
    width: 100%;
    border-right: none;
    border-top: solid 1px #b0b0b0;
    bottom: 0;
    display: block;
  }
  .brand-info-03 {
    width: 90%;
    top: 24px;
    padding: 0px;
    padding-block: 40px;
  }
  .brand-info-next {
    padding-inline: 0px;
    padding-block: 30px;
    padding-left: 32px;
  }
  .brand-info-next h2 {
    font-size: 28px;
  }
  .brand-info-next span {
    font-size: 15px;
    padding-left: 24px;
  }
  .brand-info-04 {
    width: 90%;
    margin-top: 280px;
  }
  .brand-info-footer {
    width: 100%;
  }
  .brand-info-04 h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
  .brand-info-footer span{ 
    font-size: 17px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 426px) and (max-width:1024px) {
  br.break-m {
    display: none;
  }
  br.break-t {
    display: inline;
  }
  .brand-logo {
    width: 70%;
  }
  .brand-header h1 {
    font-size: 42px;
    line-height: 140%;
  }
  .brand-sec-01 {
    height: auto;
  }
  .brand-sec-02 {
    background: url("../img/brandstory_BgImg_m.jpg") no-repeat 50% 68%/cover;
    height: auto;
  }
  .brand-header {
    padding-top: 0px;
  }
  .brand-info-01, .brand-info-02, .brand-info-next {
    width: 100%;
  }
  .b-right {
    height: 1px;
    width: 95%;
    left: 2.5%;
    border-bottom: solid 1px #B0B0B0;
    border-right: none;
    bottom:32px;
  }
  .brand-info-02 {
    position: inherit;
    padding: 0px 35px;
  }
  .brand-info-02 h2 {
    font-size: 28px;
  }
  .brand-info {
    width: 100%;
    height: auto;
    text-align: left;
    padding-block: 60px;
  }
  .brand-info-tit {
    padding: 0px 35px;
  }
  .brand-info-03 {
    width: 90%;
    top: 22px;
    padding-block: 40px;
    padding-inline: 32px;
  }
  .brand-info-next {
    padding-inline: 10px;
    padding-block: 30px;
    padding-left: 0;
  }
  .brand-info-next h2 {
    font-size: 38px;
  }
  .brand-info-next span {
    font-size: 20px;
    border-left: 2px solid #D9D9D9;
    padding-left: 24px;
  }
  .brand-info-next .b-right {
    height: 144px;
    width: 1px;
    bottom: 0;
  }
  .brand-info-04 {
    width: 90%;
    margin-top: 250px;
  }
  .brand-info-footer {
    width: 100%;
  }
  .brand-info-04 h2 {
    font-size: 42px;
  }
  .brand-info-footer span{ 
    font-size: 24px;
  }
}

@media screen and (min-width:1025px) and (max-width:1550px){
  .brand-info h2 {
    font-size: 40px;
  }
  .brand-info ul {
    font-size: 20px;
  }
  .brand-info {
    height: 330px;
  }
  .brand-info-02 h2 {
    font-size: 28px;
  }
  .brand-info-next {
    padding-inline: 0px;
    padding-left: 28px;
  }
  .brand-info-next span {
    font-size: 15px;
    left: 20px;
  }
  .brand-info-next .b-right {
    height: 100px;
  }
  .brand-info-next h2 {
    font-size: 38px;
  }
  .brand-info-03 {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1920px) {
  br.break-t {
    display: none;
  }
}

/* product.php(PC) */
@media(min-width:768px){
  .mo {
    display: none;
  }
  .chosun{
    font-weight: bold;
  }
  /* 전체 레이아웃 */
  .product-wrap{
    width: 1200px;
    margin: 0 auto;
  }
  /* 전체 레이아웃 */
  /* 첫 번째 섹션 */
  .product-sec-01 {
    padding-top: 160px;
  }
  .product-sec-01 .product-info-tit {
    padding-bottom: 32px;
  }
  .product-wrap h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  .product-wrap h2 {
    line-height: 1.5;
    font-size: 36px;
  }
  .product-link-tab {
    padding-bottom: 60px;
  }
  .product-link-tab ul{
    display: flex;
  }
  .product-link-tab ul li{
    box-sizing: border-box;
    width: 600px;
    height: auto;
    border: 1px solid #585858;
    text-align: center;
    cursor: pointer;
  }
  .product-link-tab ul li.tab-btn-active{
    color: #fff;
    background-color: #585858;
  }

  .product-link-tab ul li:nth-of-type(1){
    border-right: none;
  }
  .product-link-tab li a {
    font-size: 24px;
    line-height: 1.5;
    display: block;
    padding: 16px 8px;
  }
  .product-explain ul{
    display: flex;
    justify-content: space-between;
  }
  .product-explain ul li {
    position: relative;
    width: 200px;  
    height: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .product-explain ul li:not(:last-of-type)::after{
    content: "";
    display: inline-block;
    background: url(../img/product-explain-arrow.png) no-repeat;
    width: 42px;
    height: 52px;
    position: absolute;
    right: -42px;
    top: 104px;
  }
  .product-explain ul li strong {
    font-size: 23px;
    line-height: 1.5;
    padding-bottom: 20px;
  }
  .product-explain ul li > span {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    display: block;
    padding: 20px 0 32px 0;
  }
  .product-explain ul li a {
    width: 203px;
    height: 49px;
    background-color: #000;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
  }
  /* 첫 번째 섹션 */

  /* 두 번째 섹션 */
  .room-pt {
    padding-top: 100px;
  }
  .room-pb{
    padding-bottom: 100px;
  }
  .product-sec-02 .product-info-tit h2{
    padding-bottom: 16px;
  }
  .product-sec-02 .product-info-tit p {
    font-size: 23px;
    line-height: 1.6;
  }
  .sale-event {
    padding-top: 24px;
  }
  /* 두 번째 섹션 */

  /* 세 번째 섹션 */
  .product-sec-03 .product-info-tit {
    padding-bottom: 18px;
    position: relative;
  }
  .product-sec-03 .product-info-tit::after{
    width: 100%;
    height: 4px;
    background: rgba(157, 153, 106, 0.50);
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
  }
  .contract {
    padding-top: 30px;
  }
  .contract ul li {
    position: relative;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 8px;
    padding-left: 20px;
  }
  .contract ul li::before{
    content: "";
    width: 2px;
    height: 2px;
    display: block;
    background-color: black;
    position: absolute;
    left: 5px;
    top: 14px;
  }
  .contract ul li:not(:last-of-type){
    margin-bottom: 10px;
  }
  /* 세 번째 섹션 */

  /* 상품 및 입주 안내(콘도형) */
  .condo-pt{
    padding-top: 160px;
  }
  /* 상품 및 입주 안내(콘도형) */

  /* 거주형 섹션 레이아웃 */
  #reside-page{padding-bottom:120px;}
  /* 거주형 섹션 레이아웃 */

  /* 콘도형 섹션 레이아웃 */
  #condo-page{padding-bottom:160px;}
  /* 콘도형 섹션 레이아웃 */
}
/* product.php(PC) */

/* product.php(MO) */
@media(max-width:767px){
  .pc {
    display: none;
  }
  .chosun {
    font-weight: bold;
  }
  .product-wrap {
    width: 100%;
  }
  /* 첫 번째 섹션 */
  .product-wrap h1 {
    font-size: 26px;
  }
  .product-sec-01 {
    padding-top: 60px;
  }
  .product-sec-01 .product-info-tit {
    padding: 32px 15px 20px 15px;
    width: 100%;
  }
  .product-link-tab {
    width: 100%;
    padding-bottom: 0;
  }
  .product-link-tab ul {
    position: relative;
    display: flex;
    padding: 0 15px;
  }
  .product-link-tab ul::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ddd
  }
  .product-link-tab ul li {
    width: 50%;
    border: none;
    height: auto;
    position: relative;
    text-align: center;
    opacity: 0.7;
    position: relative;
  }
  .product-link-tab ul li.tab-btn-active{
    opacity: 1;
  }
  .product-link-tab ul li.tab-btn-active::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 10;
  }
  .product-link-tab ul li a {
    font-size: 18px;
    display: block;
    padding: 7px 8px;
    margin-bottom: -2px;
  }
  .product-link-tab ul li span {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    padding: 0px 8px 7px 8px;
  }
  .product-explain {
    padding: 32px 15px 60px 15px;
    width: 100%;
  }
  .product-explain  {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid #f2f2f2;
  }
  .product-explain ul {
    display: flex;
    flex-direction: column;
  }
  .product-explain ul li {
    position: relative;
    display: block;
    flex-direction: row;
    padding: 16px 15px;
  }
  .product-explain ul li:not(:last-of-type){
    margin-bottom: 24px;
  }
  .product-explain ul li:not(:last-of-type)::after{
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -24px;
    width: 24px;
    height: 24px;
    background: url('../img/m-product-explain-arrow.png') no-repeat center/cover;
  }
  .product-explain-info {
    display: flex;
    justify-content: space-between;
  }
  .product-explain-info-img {
    width: 72px;
    height: 72px;
  }
  .product-explain-info-img img {
    width: 100%;
    height: 100%;
  }
  .product-explain-info-comment {
    width: calc(100% - 88px);
    display: flex;
    flex-direction: column;
  }
  .product-explain-info-comment strong {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 4px;
  }
  .product-explain-info-comment span {
    font-size: 15px;
    line-height: 1.5;
  }
  /* 첫 번째 섹션 */

  /* 두 번째 섹션 */
  .product-sec-02 {
    padding: 60px 15px 32px 15px;
  }
  .product-sec-02 img {
    width: 100%;
  }
  .room-pt {
    padding-top: 60px;
  }
  .room-pb {
    padding-bottom: 60px;
  }
  .product-sec-02 .product-info-tit {
    padding-bottom: 32px;
  }
  .product-sec-02 .product-info-tit h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  .product-sec-02 .product-info-tit p {
    font-size: 16px;
    line-height: 1.6;
  }
  .product-explain li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000;
    padding: 10px 0;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
  }
  /* 두 번째 섹션 */

  /* 세 번째 섹션 */
  .product-sec-03 {
    padding: 0 15px 90px 15px;
  }
  .product-sec-03 .product-info-tit {
    padding-bottom: 10px;
    margin-bottom: 24px;
    position: relative;
  }
  .product-sec-03 .product-info-tit::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(157, 153, 106, 0.50);
  }
  .product-sec-03 .product-info-tit h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  .contract ul li {
    padding: 0 0 8px 17px;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
  }
  .contract ul li::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #000;
    position: absolute;
    left: 5px;
    top: 10px
  }
  .product-sec-03.use {
    padding: 0px 15px 90px 15px;
  }
  /* 세 번째 섹션 */
}
/* product.php(MO) */

/* event 페이지 */
.event-form-wrap {
  background-image: url("../img/event_bg_02_pc.jpg");
  background-size: cover;
  height: auto;
  padding-bottom: 200px;
  padding-top: 40px;
}
.event-form-wrap .reg_formWrap {
  width: 900px;
  margin: 0 auto;
  border-radius: 20px;
  padding-block: 30px;
  padding-inline: 100px;
}
.event-form-wrap .reg_form_rightTit h3 {
  font-size: 42px;
}
.event-form-wrap .register_subtit p {
  font-size: 18px;
}
/* event.php input */
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.event-form-wrap input[type=text],
.event-form-wrap input[type=number] {
  max-width: 100%;
  height: 48px;
}
.event-form-wrap input[type=text]::placeholder,
.event-form-wrap input[type=number]::placeholder {
  color: #a5a5a5
}
.event-form-wrap .register_line {
  margin-bottom: 26px;
}
.event-form-wrap .register_input {
  width: 75%;
}
.event-form-wrap .select_group, .event-form-wrap .e_input {
  max-width: 100%;
}
.event-form-wrap .e_input {
  padding-block: 8px;
  padding-left: 20px;
  height: 44px;
  font-size: 16px;
}
/* event.php 라디오 버튼 */
.event-form-wrap .reg_agr_label {
  margin-left: 12px;
  font-size: 16px;
}
.event-form-wrap .register_input input[type="radio"], .reg_agr_label{
  vertical-align: middle;
}
.event-form-wrap .register_input input[type="radio"] {
  appearance: none;
  border: 1px solid #d0d0d0;
  border-radius: 36%;
  width: 24px;
  height: 24px;
}
.event-form-wrap .register_input input[type="radio"]:checked {
  background:#222222 url('../img/check.png') no-repeat center/14px auto;
}
/* event.php 셀렉트박스 */
.event-form-wrap .select_wrap {
  background:#ededee url('../img/arrow_down.png') no-repeat 95% 55%/22px auto;
}
/* event.php 주소 검색 */
.event-form-wrap .address_group input {
  margin-bottom: 26px;
}
.event-form-wrap .postcode_group .e_input {
  max-width: 60%;
  margin-right: 5%;
}
.event-form-wrap .postcode_group button {
  width: 34%;
  background-color: #000;
  border: none;
  color: #fff;
  height: 44px;
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: bold;
}
/* event.php 객실 선택 */
.one_person {
  margin-bottom: 14px;
}

/* event.php 동반자 정보 */
.e_name {
  width: 30%;
  margin-right: 5%;
}
.e_phone {
  width: 63%;
}
.accompany_wrap {
  margin-bottom: 26px;
}
.caution_span {
  color: #949494;
}
/* event.php - 이벤트 신청 */
.event-form-wrap .submitBtn {
  max-width: 70%;
  margin-bottom: 80px;
  margin-top: 40px;
  border-radius: 12px;
  background: #222222;
  font-weight: bold;
}
.event-form-wrap .submit_btn {
  text-align: center;
}
/* event.php 미디어 쿼리 반응형 */
.event-bg-mo-wrap {
  display: none;
}
@media screen and (max-width:425px) {
  .event-bg-pc-wrap {
    display: none;
  }
  .event-bg-mo-wrap {
    display: block;
    padding-top: 10%;
    position: relative;
    top: 2px;
  }
  .event-form-wrap .reg_form_rightTit h3 {
    font-size: 34px;
  }
  .event-form-wrap .reg_formWrap {
    width: 90%;
    padding-inline: 26px;
  }
  .event-form-wrap .postcode_group button {
    font-size: 14px;
    width:33%;
  }
  .event-form-wrap .register_input {
    width: 100%;
  }
  .event-form-wrap .submitBtn {
    max-width: 100%;
  }
}
@media screen and (min-width:400px) and (max-width:768px) {
  .event-bg-pc-wrap {
    display: none;
  }
  .event-bg-mo-wrap {
    display: block;
    position: relative;
    top: 2px;
  }
  .event-form-wrap .reg_formWrap {
    width: 90%;
    padding-inline: 40px;
  }
  .event-form-wrap .register_input {
    width: 100%;
  }
  .register_subtit {
    margin-bottom: 10px;
  }
  .reg_form_rightTit {
    margin-bottom: 26px;
  }
}
@media screen and (min-width:770px) and (max-width:1024px) {
  .event-form-wrap .register_input {
    width: 100%;
  }
  .event-form-wrap .reg_formWrap {
    width: 90%;
    padding-inline: 40px;
  }
  .event-form-wrap .register_input {
    width: 100%;
  }
  .register_subtit {
    margin-bottom: 10px;
  }
  .reg_form_rightTit {
    margin-bottom: 26px;
  }
}

/* invitation */
.invitation-bg-mo-wrap {
  display: none;
}
@media screen and (max-width:1024px) {
  .invitation-bg-pc-wrap {
    display: none;
  }
  .invitation-bg-mo-wrap {
    display: block;
  }
}